Q1>>
string="Satyajit"
list=["krish",3,True,3.3]
float=8.8
tuple=(1,"qwerty",8.98)

Q2>>
string
string
list
integer

Q3>>
/--> This is used for division.    ex.4/2=0
%-->This is used to get remainder.  ex5%2=1
//-->This is used for floor division  ex5//2=2
**--> This is used for putting powers to a number   ex.5**2+25

In [1]:
#4>>
l=[1,2,3,"krish","sir",True,9.0,78,56.76,"hello"]
for i in range(10):
  print(l[i])
  print(type(l[i]))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
krish
<class 'str'>
sir
<class 'str'>
True
<class 'bool'>
9.0
<class 'float'>
78
<class 'int'>
56.76
<class 'float'>
hello
<class 'str'>

In [3]:
#5>>>
A = int(input("Enter the number A: "))
B = int(input("Enter the number B: "))
count = 0

while A % B == 0:
  A = A // B
  count += 1

if count > 0:
  print(f"The number {A} is purely divisible by {B} {count} times.")
else:
  print(f"The number {A} is not purely divisible by {B}.")

Enter the number A:  35
Enter the number B:  6

The number 35 is not purely divisible by 6.

In [1]:
#6>>
my_list=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in range(0,25):
    if (my_list[i]%3==0):
        print(str(my_list[i]) +"is divisible by 3")
    else:
         print(str(my_list[i]) +"is not divisible by 3")

1is not divisible by 3
2is not divisible by 3
3is divisible by 3
4is not divisible by 3
5is not divisible by 3
6is divisible by 3
7is not divisible by 3
8is not divisible by 3
9is divisible by 3
10is not divisible by 3
11is not divisible by 3
12is divisible by 3
13is not divisible by 3
14is not divisible by 3
15is divisible by 3
16is not divisible by 3
17is not divisible by 3
18is divisible by 3
19is not divisible by 3
20is not divisible by 3
21is divisible by 3
22is not divisible by 3
23is not divisible by 3
24is divisible by 3
25is not divisible by 3

Q7..
In programming, mutable and immutable data types refer to whether a variable's value can be changed after it is created. Mutable data types are those whose values can be modified or altered, while immutable data types are fixed and cannot be changed once they are created.

Mutable Examples:
Lists, dictionaries, and sets in Python are mutable. For instance, consider a list:
mut